# Ambientes virtuais
venv
venv/
.venv
.venv/
env/

# Caches de bytecode Python
__pycache__/
*.py[cod]
*$py.class

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Arquivos temporários e logs
*.log
.DS_Store
